# for pdfconverse.py
streamlit
PyPDF2
langchain
langchain-community
transformers
chromadb
pandas
# for model.py
numpy
PyPDF2
langchain
scikit-learn
transformers
torch
nltk


# streamlit run {file name}  Axios error 403 
# streamlit run pdfconverse.py --server.enableXsrfProtection false

